---
layout: default
title: Categories
description: whisperのworkspace
keywords: Blog,Archives,Whisper,Inspireme
---

<p class="lotus-breadcrub">
    <a href="{{ site.url }}/index.html" rel="nofollow" rel="nofollow" title="ホームページ">Home</a>
    <span> &gt; </span>
    {{ page.title }}
</p>
<h1 class="lotus-pagetit">{{ page.title }}</h1>


<article class="article article-last">
<ul>
	<li>
		{% assign categories_list = site.categories %}
		{% for category in categories_list %}
		<a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref" rel="bookmark" title="{{ category[0] | join: "/" }}">{{ category[0] | join: "/" }}</a>
		 {% if forloop.index  != categories_list.size %}
			<span class="lotus-squ">|</span>
		 {% endif %}	
		{% endfor %}	
	</li>
</ul>
</article>

<article id="archives">
{% for category in site.categories %} 
  <h3  class="lotus-pagetit" id="{{ category[0] }}-ref" data-year="&diams;">{{ category[0] | join: "/" }}</h3>
  <ul style="list-style: none">
    {% assign pages_list = category[1] %}  
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if group == null or group == node.group %}
            <li style="padding:3px; margin:2px 0"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
   
  </ul>
{% endfor %}
</article>
