---
layout: default
title: Links
description: whisperのworkspace
keywords: Blog,Links,Whisper,Inspireme
---

<p class="lotus-breadcrub">
    <a href="{{ site.url }}/index.html" rel="nofollow" rel="nofollow" title="ホームページ">Home</a>
    <span> &gt; </span>
    {{ page.title }}
</p>

<h1 class="lotus-pagetit">{{ page.title }}</h1>
<section class="lotus-double fn-clear" >
    <article class="article article-first">
	{% for i in site.customLinks limit:1%}
    <h4>{{ i.message }}</h4>
        <ul>
            {% for link in i.item %}
            <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
	{% endfor %}	
    </article>
	
	
    <article class="article article-last">
	{% for i in site.customLinks limit:1 offset:1%}
    <h4>{{ i.message }}</h4>
        <ul>
            {% for link in i.item %}
            <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
	{% endfor %}	
    </article>
</section>